.audiometry-input-table input{width:90px}
.config-card{border: 2px solid #097C00;background-color: #DCDCDC;padding: 1em 1em 1em 4em;margin-bottom: 1em;border-radius: 1em}
.config-card a{text-decoration: none;background-color: #DCDCDC;font-size: 1.3em}
#activity_types{background: url('../images/activity_types.png') no-repeat 10px 6px #DCDCDC}
#advice_types{background: url('../images/advice_types.png') no-repeat 10px 6px #DCDCDC}
#projects{background: url('../images/projects.png') no-repeat 10px 6px #DCDCDC}
table.field-list input.date{width:15%}
